.header{
  background-color: 	rgb(48,48,48);
  height: 75px;
  display: flex;
  padding-left: 10px;
  color: white;
  align-items: center;
  justify-content: space-between;

   
}


.logo{
  height: 60px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  
  
  
}

.pics{
  height: 350px;
  margin: 5px;
}

.card{
  border-style:solid;
  border-width: 2px;
  margin: 5px;


}
.text{
  font-size: large;
  text-align: center;
  
}
.scores{
  margin-right: 5px;
}